    /target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
*.log
.mvn
*.class
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/



### target
yh-work-web/target/*
yh-work-biz/target/*
yh-work-dal/target/*
yh-work-common/target/*
yh-work-consumer/target/*

.DS_Store